.minWidth40 {
  min-width: 40px;
}

.dashboard-card {
  width: 18rem;
  min-height: 360px;
  /*border-radius: 6px;
  border-width: 6px;*/
}

.dashboard-card-header {
  text-align: center;
}

.procmon-server-status-span {
  width: 70px;
  display: inline-block;
  text-align: left;
}
